{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
    <!-- GA -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139330872-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139330872-2');
    </script>

</head>

{# CONTENT #}
<body class="uk-height-viewport">
    {# HEADER #}
    {% include 'mainapp/header.html' %}

    {% block photo %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include "mainapp/footer.html" %}
</body>