{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<div class="">
    <div class="uk-position-relative">
        {# IMAGE #}
        <img class="uk-svg" src="{% static 'img/bg.jpg' %}" alt="" uk-svg>
        <div class="uk-overlay uk-position-center-left uk-width-1-2 uk-text-light uk-margin-medium"
             >
            <h1 class="uk-h1 uk-heading-small uk-text-uppercase " style="color: white!important;">
                Заголовок что о чем
            </h1>
            <h3 class="uk-h3 uk-heading-small " style="color: white!important;">
                Тут всякие текст оправданий
            </h3>
        </div>

        <div class="uk-position-top uk-text-middle uk-text-uppercase uk-container uk-align-center">
            {# NAVBAR #}
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                {# LEFT BAR #}
                <div class="uk-navbar-left">
                    {# LOGO #}
                    <a class="uk-navbar-item uk-logo" href="{% url 'mainapp:index' %}">Logo</a>
                </div>
                {# CENTER BAR #}
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="#"> Проекты </a>
                        </li>
                        <li>
                            <a href="#"> Еще </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

</html>