{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>

<div class="uk-background-secondary">
    {# NAVBAR #}
    <div class="uk-container uk-container-expand-left">
        <ul class="uk-margin-remove" uk-navbar>
            {# Left BAR #}
            <div class="uk-navbar-left">
                <a class="uk-link uk-navbar-item uk-logo" href="{% url 'mainapp:index' %}">
                    <img class="uk-align-center" src='{% static "img/sv2.svg"%}' height="70" uk-svg>
                </a>
            </div>
        </ul>
    </div>
</div>

</html>