asgiref==3.2.10
certifi==2020.6.20
dj-database-url==0.5.0
Django==3.1
django-ckeditor==5.9.0
django-editorjs-field==0.0.3
django-heroku==0.3.1
django-js-asset==1.2.2
gunicorn==20.0.4
jsmin==2.2.2
Pillow==7.2.0
pip==20.2.2
psycopg2==2.8.5
pytz==2020.1
setuptools==49.6.0.post20200814
six==1.15.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
waitress==1.4.4
wheel==0.34.2
whitenoise==5.2.0
wincertstore==0.2